<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <h1>Teams</h1>
    <ul>
      <% teams.forEach(function(team){ %>
      <li><%= team.name %>
        <ul>
          <% team.users.forEach(function(user) { %>
          <li><a href="/users/<%= user.id %>"><%= user.name %></a></li>
          <% }) %>
        </ul>
      </li>
      <% }) %>
    </ul>
  </body>
</html>
