<h1>User Detail</h1>

<p>Name: <%= user.get('name') %></p>
<p>Id: <%= user.get('id') %></p>
<p>Languages: <%= user.related('languages') %></p>
<p>Github Repos: <%= user.related('github_repo') %></p>

